<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  
  <style>
    body {
      color: #333;
      background-color: #fff;
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 20px;
    }
  </style>
</head>
<body>
  {{ content }}
  
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$','$$'], ['\\[','\\]']],
        processEscapes: true
      }
    };
  </script>
  <script 
    id="MathJax-script" 
    async 
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
</body>
</html>
